.servicesWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem 0;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: static;
    padding: 1rem;
    min-height: 28rem;
    .cardHeading {
      text-align: center;
      font-size: clamp(1rem, 2.5vw, 1.5rem);
    }
    p {
      font-size: clamp(0.875rem, 2vw, 1.125rem);
    }
  }
  @media screen and (max-width: 850px) {
    .card {
      min-height: fit-content;
    }
  }
}
